<!--<hamburger-toggle state="sidebar.stateModel" ng-click="sidebar.openAside('left', true)"></hamburger-toggle>
sidebar.stateModel: {{sidebar.stateModel}}-->
<div class="header">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <hamburger-toggle state="sidebar.stateModel" ng-click="sidebar.openAside('left', true)"></hamburger-toggle> -->
      <hamburger-toggle state="sidebar.stateModel"></hamburger-toggle>
		<a class="navbar-brand" href="https://github.com/franck43/stationvlille">
			App'name
		</a>
    </div>
  </div>
</nav>
</div>

<div class="sidenav" ng-class="{open: sidebar.stateModel}">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" ng-class="{ active:sidebar.isSet(1) }">
        	<a href="#/statemodel/true" ng-click="sidebar.setTab(1)">Home</a>
        </li>
        <li role="presentation" ng-class="{ active:sidebar.isSet(2) }">
        	<a href="#meteoPage" ng-click="sidebar.setTab(2)">Meteo</a>
        </li>
        <li role="presentation" ng-class="{ active:sidebar.isSet(3) }">
        	<a href="#carouselPage" ng-click="sidebar.setTab(3)">Carrousel</a>
        </li>
        <li role="presentation" ng-class="{ active:sidebar.isSet(4) }">
          <a href="#twitchPage" ng-click="sidebar.setTab(4)">Twitch</a>
        </li>
      </ul>
</div>


